/drawable-eht-xxhdpi/
/drawable-emf-xxhdpi/
/drawable-enc-xxhdpi/
/drawable-etm-xxhdpi/
/drawable-ht-xxhdpi/
/drawable-lt-xxhdpi/
/drawable-mf-xxhdpi/
/drawable-nc-xxhdpi/
/drawable-tm-xxhdpi/
/values-eht/
/values-elt/
/values-emf/
/values-emo/
/values-enc/
/values-etm/
/values-ht/
/values-lt/
/values-mf/
/values-mo/
/values-nc/
/values-vi/


